        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background: linear-gradient(45deg, rgb(0, 0, 99), black);

        }
        body::before{
            background-color: #000000;
            top: 0;
            bottom: 0;
            margin: 0;
            inset: 0;
        }

        .calculadora {
            width: 320px;
            background-color: #000000;
            border-radius: 10px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
            padding: 20px;
        }

        input {
            width: 94%;
            height: 60px;
            font-size: 26px;
            text-align: right;
            margin-bottom: 20px;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid #a0a0a0;
            background-color: #fafafa;
        }

        .botoes {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
        }

        .botoes button {
            height: 60px;
            font-size: 22px;
            font-weight: bold;
            border: none;
            border-radius: 8px;
            background-color: #f3f3f3;
            cursor: pointer;
            transition: 0.2s;
        }

        .botoes button:hover {
            background-color: #e2e2e2;
        }

        .botoes button.operador {
            background-color: #ffd166;
        }

        .botoes button.operador:hover {
            background-color: #fcca46;
        }

        .botoes button.igual {
            background-color: #00d890;
            color: white;
        }

        .botoes button.igual:hover {
            background-color: #ffffff;
        }

        .botoes button.clear {
            background-color: #ef476f;
            color: rgb(255, 255, 255);
        }

        .botoes button.clear:hover {
            background-color: #d93d61;
        }